.page_wrapper{
  height: 100dvh;
  width: 100dvw;
}

.header{
  height: 7.5%;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.page{
  height: 100%;
  width: 100%;
  display: flex;
}

.page_section_right{
  position: relative;
  height: 100%;
  width: 33.3333%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.page_section_left{
  height: 100%;
  width: 66.6666%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

.body_panel{
  position: relative;
  height: 92.5%;
  padding-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  display: flex;
  overflow-y: scroll;

}

.body_locations{
  flex-direction: column;
  gap: 0.5rem;
}

.body_appointments{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-content: flex-start;
}



.user_tab{
  border-radius: 0px 0px 40px 40px;
  background-color: white;
  width: 130px;
  display: flex;
  padding-left: 1rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  position: relative;
  z-index: 0;
  border-top-width: 0px;
}

.selected_user_tab{
  background-color: #dddddd;
}

.user_picker{
  display: flex;
  position: fixed; 
  right: 1%;
  z-index: 999;
}

.location_card{
  position: relative;
  padding: .25rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.location_card_selected{
  border: 1px solid #000000;
}

.user_type_selected{
  color: blue;
}

.add_apt_btn{
  position: absolute;
  left: 0;
  top: 0;
}

.appointment_card{

  position: relative;

  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;

  display: flex;
  flex-direction: column;

  gap: .5rem;

}


.appointment_card_selected{
  border: 1px solid #000000;
}

.cancel_panel_btn{
  position: absolute;
  top: 0;
  right: 0;
}



.appointment_form_input{
  max-width: 75px;
  min-width: 75px;
}

.form_row{
  display: flex;
  justify-content: space-between;
  gap: .5rem;

  /*place-content: end space-between;*/
}

.location_card_btns{
  display: flex;
  flex-direction: row;

}

.show_view{
  display: flex;
}

.hide_view{
  display: none;
}

.hide_btn{
  visibility: hidden;
}

.show_btn{
  visibility: visible;
}

.icon_list_container{
  position: absolute;
  top: .25rem;
  left: .25rem;
  display: flex;
  gap: .125rem;
}

.selected_icon{
  background-color: grey;
}

.disabled_icon{
  opacity: 0.175;
}

.appointment_card_icons{
  display: flex;
}

.top_margin_apt_card{
  margin-top: 1rem;
}

.model{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
 /* padding-top: 15%;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.loading_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.loading_text{
  z-index: 10;
  color: white;
  font-size: larger;
  font-weight: 400;
}

.container_model{
  position: absolute; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.location_title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

}

.form_card{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card_padding{
  padding-right: 15%;
  padding-left: 15%;
}

.calendar_appointments_wrapper{
  position: relative;
  min-width: 14%;
  min-height: 150px;
}

.calendar_wrapper{
  min-width: 100%;
}

.date_slot{
  position: absolute;
  top: 0px;
  right: 0px;
}

.appointments_slot{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  font-size: smaller;
  gap: .25rem;
  padding-top: 1rem;
}

.columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 25px;
}

.calendar_appointment_icons{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  min-width: 75%;
  justify-content: center;
}

.calendar_appointment_time{
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
}

.padding_top_edit_location{
  padding-top: 2rem;
}

/*override yellow background on todays date panel*/
.reeact-calendar__tile--now {
  background: white;
}

.table_row {
  text-align: center;
}

.table_border {
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

.table_container {
  display: contents;
}

.table_title {
  font-size: x-large;
}

.selected_item{
  background-color: aqua;
}











