.app {
  position: relative;
}

.page_wrapper{
  height: 100dvh;
  width: 100dvw;
}

.header{
  height: 7.5%;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

.page{
  height: 100%;
  width: 100%;
  display: flex;
}

.page_section_right{
  position: relative;
  height: 100%;
  width: 33.3333%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.page_section_left{
  height: 100%;
  width: 66.6666%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

.body_locations{
  position: relative;
  height: 92.5%;
  padding-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.user_tab{
  border-radius: 0px 0px 40px 40px;
  background-color: white;
  width: 130px;
  display: flex;
  padding-left: 1rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  position: relative;
  z-index: 0;
  border-top-width: 0px;
}

.selected_user_tab{
  background-color: #dddddd;
}

.user_picker{
  display: flex;
  position: fixed; 
  right: 1%;
  z-index: 999;
}

.location_card_selected{
  border: 2px solid #000000;
  background-color: lightblue;
}


.location_card{
  position: relative;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.location_card:nth-child(even) {
  background-color: #dddddd;
}

.user_type_selected{
  color: blue;
}

.appointment_list{
  display: flex;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}


.appointment_list_wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
}

.add_apt_btn{
  position: absolute;
  left: 0;
  top: 0;
}

.appointment_card{

  position: relative;

  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;

  display: flex;
  flex-direction: column;
}


.appointment_card_selected{
  border: 1px solid #000000;
}

.cancel_new_appointment_btn{
  position: absolute;
  top: 0;
  right: 0;
}


.appointment_card:nth-child(even) {
  background-color: #dddddd;
}

.appointment_form_input{
  max-width: 75px;
  min-width: 75px;
}

.form_row{
  display: flex;
  justify-content: space-between;

  /*place-content: end space-between;*/
}

.location_card_btns{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}


.show_view{
  display: flex;
}

.hide_view{
  display: none;
}

.hide_btn{
  visibility: hidden;
}

.show_btn{
  visibility: visible;
}

.icon_list_container{
  position: absolute;
  top: .25rem;
  left: .25rem;
  display: flex;
  gap: .125rem;
}

.selected_icon{
  background-color: grey;
}

.disabled_icon{
  opacity: 0.175;
}

.appointment_card_icons{
  display: flex;
}

.top_margin_add_user_apt{
  margin-top: 1rem;
}




